*{
    padding: 0;
    margin:0;
}
.navbar{
    background-color: #fff;
    width:100%;
    height:50px;

}
.AS{
font-family: 'Crete Round', serif;
font-size: 28px;
color:#000;
float:left;
padding-top: 3px;
padding-left:4px;
}
.active{
    font-family: 'Crete Round', serif;
    font-size:20px;
    text-decoration: none;
    color:#000;
    cursor:pointer;
    float: right;
    font-feature-settings: "liga", "clig", "lnum", "kern";
    padding: 8px 12px;
    }
    .active:hover{
     text-decoration: underline solid #3ac;
    }
    .container{
        
        
        height:500px;
    }
    .para{
padding-left: 30px;
        padding-top: 50px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;

    }
    .al{
        width:350px;
        display: flex;
        float: right;
        height:400px;
    }
    .par{
        padding-left: 30px;
        font-size:19px;
        font-family: 'Crete Round', serif;
    }
    .pa{
        padding-left: 30px;
        padding-bottom: 500px;
            font-size:19px;

            font-family: 'Crete Round', serif;
        
    }
    .row{
        height:400px;
        background-color: #fff;
    }
    
    .k{
        
        float:left;
        width:400px;
    color:#000;
        height:300px;
    padding-left:30px;
        
    }

      .card-section{
        
          height:700px;
      }
      .ps{
          padding-top: 50px;
        font-family:'Courier New', Courier, monospace;
          font-size: 20px;
          color: #000;
      }
      .s{
        
        font-size: 18px;
        color: #000;
        font-family: 'Crete Round', serif;
      }
      
    .c{
        font-size: 20px;
        padding-left: 520px;
        color: #595959;
        font-family: 'Courier New', Courier, monospace;
      }
      .aaa{
        padding-top: 8px;
      }
      .hello {
        background-color: #f2f2f2;
        
        align-items: center;
        color: white;
        height:80px;
      }
      .aa{
        display: flex;
        float: right;
        color:#fff;
        text-decoration: none;
        color:#595959;
        padding-right: 20px;
        padding-top: 15px;
        font-size: 25px;
          }

                .help-section{
                    padding-top: 10px;
                    height:70px;
                background-color: #f2f2f2;
                align-items: center;
    color: white;
    height:80px;
                }
                .aa{
                    display: flex;
                    float: right;
                    color:#fff;
                    text-decoration: none;
                    color:#595959;
                    padding-right: 20px;
                    padding-top: 15px;
                    font-size: 25px;
                      }
                      .c{
                        font-size: 20px;
                        padding-left: 520px;
                        color: #595959;
                        font-family: 'Courier New', Courier, monospace;
                      }
                      .aaa{
                        padding-top: 8px;
                      }