*{
    padding: 0;
    margin:0;
}
.html{
scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#3ac; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3ac; 
  }
.navbar{
    width:100%;
    height:60px;
}
.as{
    float:left;
    padding:15px 20px;
    color:#3ac;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.active{
    display: flex;
    float:right;
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    padding:15px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.active:hover{
  color:#3ac;
}
.cont-1-section{
    height:480px;
    width:100%;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 500px;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border: none;
  float:right;
  display:none;
}
.line{
  width:33px;
  background-color: #000;
  height:4px;
  margin:3px,3px;
}

.container-section{
  width:100%;
  height:500px;
}
.acti{
  color:#fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
  .gool{
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    min-height: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.1);
  padding: 40px 0;
    
  }
  
  .d{
   text-align: center;
    color:#525252;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  @media only screen and (max-width:1100px){
   
    .p-1{font-size: 25px;}
    .active{
      display: none;
      
    }
  }
  @media only screen and (max-width:950px){
    
  
    .openbtn{
      display: block;
    }
  }
